body {
    text-align: center;
    font-family: Arial,sans-serif;
}

.board {
    width: 300px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(3,100px);
}

.cell {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

button {
    padding: 10px 20px;
    font-size: 18px;
}
